
<div class="container-fluid">
    <div class="row mb-5 bg-dark text-white block"><h1 class="text-center">Resumen de Tickets</h1></div>
    <div class="row mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura1"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura2"></canvas>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura3"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura4"></canvas>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura5"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura6"></canvas>
        </div>
    </div>
    <div class="row mb-5 bg-dark text-white block"><h1>Canales Caídos</h1></div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura7"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura8"></canvas>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura9"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura10"></canvas>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura11"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura12"></canvas>
            <div class="row">
                <table class="ml-5">                    
                    {{#each iter12}}
                    <tr>
                        <td>{{ind}}. </td>
                        <td>{{falla}}</td>
                    </tr> 
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura13"></canvas>
            <div class="row">
                <table class="ml-5">                    
                    {{#each iter13}}
                    <tr>
                        <td>{{ind}}. </td>
                        <td>{{falla}}</td>
                    </tr> 
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura14"></canvas>
            <div class="row">
                <table class="ml-5">                    
                    {{#each iter14}}
                    <tr>
                        <td>{{ind}}. </td>
                        <td>{{falla}}</td>
                    </tr> 
                    {{/each}}
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura15"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura16"></canvas>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura17"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura18"></canvas>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura19"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura20"></canvas>
        </div>
    </div>
    <div class="row mb-5 bg-dark text-white block"><h1>Creación y cierre de Tickets</h1></div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura21"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura22"></canvas>
        </div>
    </div>


</div>

{{> figuras/fig1-2 }}
{{> figuras/fig3-4 }}
{{> figuras/fig5-6 }}
{{> figuras/fig7-8 }}
{{> figuras/fig9-10 }}
{{> figuras/fig11-12 }}
{{> figuras/fig13-14 }}
{{> figuras/fig15-16 }}
{{> figuras/fig17-18 }}
{{> figuras/fig19-20 }}
{{> figuras/fig21-22 }}

    


