<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="x" placeholder="Valor X">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="y" placeholder="Valor Y">
            </div>
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-4">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Valor X</th>
            <th>Valor Y</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>          
          <% for(var i=0; i < coords.length; i++) { %>
          <tr>
            <td><%= i + 1%></td>
            <td><strong id="labels"><%= coords[i].x %></strong></td>                        
            <td id="datas"><%= coords[i].y %></td>                       
            <td>             
              <a href="/delete/<%= coords[i]._id %>" class="btn btn-danger btn-sm">
                Delete
              </a>
              <a href="/edit/<%= coords[i]._id %>" class="btn btn-info btn-sm">
                Edit
              </a>
            </td>
          </tr>
          <% } %>                
        </tbody>
      
      </table>

    </div>

    <div class="col-md-6">
      <h1>Grafica de barras</h1>
      <canvas id="myChart" width="800" height="800"></canvas>            
      <% include graficas/barras %>
      
    </div>
  </div>

</div>