<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="x" placeholder="Valor X">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="y" placeholder="Valor Y">
            </div>
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-4">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Valor X</th>
            <th>Valor Y</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < coords.length; i++) { %>
          <tr>
            <td><%= i + 1%></td>
            <td><strong id="labels"><%= coords[i].x %></strong></td>
            <td id="datas"><%= coords[i].y %></td>
            <td>
              <a href="/delete/<%= coords[i]._id %>" class="btn btn-danger btn-sm">
                Delete
              </a>
              <a href="/edit/<%= coords[i]._id %>" class="btn btn-info btn-sm">
                Edit
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
        
      </table>
      
    </div>

    <div class="col-md-6">
      <h1>Grafica de barras</h1>
      <canvas id="bars" width="800" height="800"></canvas>


    </div>
  </div>
  <div id="datos">
  <%= labels = coordsy %>
  <%= console.log(labels) %>
  
</div>
</div>

<script>
size = `<%= coords.length %>`;
// var labels = `<%= coordsx %>`;
// var datas = `<%= coordsy %>`;

console.log(`<%= coords %>`);

var canvas = document.getElementById("bars");
var ctx = canvas.getContext('2d');
        var datax = [];
        var datay = [];     
          
        var myChart = new Chart(ctx, {            
            type: 'bar',
            data: {
                labels: ['Enero',
                'Febrero',
                'Marzo',
                'Abril',
                'Mayo',
                'Junio',
                'Julio',
                'Agosto',
                'Septiembre',
                'Octubre',
                'Noviembre',
                'Diciembre'],
                datasets: [{
                    label: 'Valor de x cotra y',
                    data: [ '50', '70', '30', '60', '45', '65', '75', '55', '40', '48', '62', '43' ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(123, 105, 255, 0.2)',
                        'rgba(163, 202, 255, 0.2)',
                        'rgba(153, 102, 155, 0.2)',
                        'rgba(153, 202, 255, 0.2)',
                        'rgba(153, 255, 255, 0.2)',
                        'rgba(123, 102, 255, 0.2)',
                        'rgba(155, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(163, 202, 255, 1)',
                        'rgba(153, 102, 155, 1)',
                        'rgba(153, 202, 255, 1)',
                        'rgba(153, 255, 255, 1)',
                        'rgba(123, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

</script>