<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <div class="card-body">

        <form action="/add" method="POST">
          <div class="form-group">
            <input type="text" name="label" placeholder="Valor x" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="valor" placeholder="Valor y" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">
            save data
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>n°</th>
            <th>Label</th>
            <th>Valor</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
          <% for(var i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= data[i].label %></td>
            <td><%= data[i].valor %></td>
            <td>
              <a href="/update/<%= data[i].id %>" class="btn btn-info btn-sm">Edit</a>
              <a href="/delete/<%= data[i].id %>" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<% include partials/_footer %>