


<div class="container-fluid">
    <div class="row mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura1"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura2"></canvas>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura3"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura4"></canvas>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura5"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura6"></canvas>
        </div>
    </div>

</div>

    <script>

        //%%%%%%%%%%%%%%%% Figura 1 %%%%%%%%%%%%%%//
        var data = {            
            labels: ['Total de Incidentes', 'Total de Requerimientos'],
            datasets: [
                {
                    fill: true,
                    backgroundColor: ["#5a81b8", "#dd8443"],
                    data: [{{Figura1}}],
                    borderColor:	['white', 'white'],
                    borderWidth: [2,2]
                }
            ]
        };        

        var ctx = document.getElementById("Figura1").getContext("2d");        
        var Fig1 = new Chart(ctx, {
        animationEnabled: true,
        type: 'pie',
        data: data,
        options: {title: {
            text: "Total de Tickets Enero",
            display: true,
            position: 'top',
            fontSize: 18,
            fontColor: "#111"         
          },
          tooltips: tooltips,
          showAllTooltips: true,
          optionsPie }       
        });

        //%%%%%%%%%%%%%%%% Figura 2 %%%%%%%%%%%%%%//
        var lab2Inc=[],dat2Inc=[],lab2Req=[],dat2Req=[]
        {{#each Fig2Inc}}
            lab2Inc.push('{{name}}')
            dat2Inc.push({{count}})
        {{/each}}        
        {{#each Fig2Req}}
            lab2Req.push('{{name}}')
            dat2Req.push({{count}})
        {{/each}}      
        
        var Alto2Data = {
            label: 'Alta',
            data: [dat2Inc[0],dat2Req[0]],            
            backgroundColor: '#5a81b8',
            borderWidth: 0,            
        };
        var Medio2Data = {
            label: 'Media',
            data:  [dat2Inc[1],dat2Req[1]],
            backgroundColor: '#dd8443',
            borderWidth: 0,            
        };
        var Bajo2Data = {
            label: 'Baja',
            data:  [dat2Inc[2],dat2Req[2]],
            backgroundColor: '#92b684',
            borderWidth: 0,           
        };        
        var Fig2Data = {
            labels: ['Incidentes', 'Requerimientos'],
            datasets: [Alto2Data, Medio2Data, Bajo2Data]
        };              

        var ctx = document.getElementById("Figura2").getContext("2d");        
        var Fig2 = new Chart(ctx, {
        animationEnabled: true,
        type: 'bar',
        data: Fig2Data,
        options: {
            title: {
            text: "Tickets Por Prioridad",
            display: true,
            position: 'top',
            fontSize: 18,
            fontColor: "#111"         
          },
          tooltips: tooltipsValue,
          showAllTooltips: true,
          barValueSpacing: 20,          
          optionsBar
        }

        });

       //%%%%%%%%%%%%%%%% Figura 3 %%%%%%%%%%%%%%//        
        var lab3Inc=[],dat3Inc=[]
        {{#each Fig3Inc}}
            lab3Inc.push('{{name}}')
            dat3Inc.push({{count}})            
        {{/each}}
        var perc3=percentage(dat3Inc)        
        dat3perc=[perc3.perc]
        dat3cum=perc3.cum
        dat3p80=perc3.p80
        var Fig3Data = {
            labels: lab3Inc,
            datasets: [
                {
                yAxisID: 'A',
                backgroundColor: "#5a81b8",
                data: dat3Inc,
                label: 'Incidentes'
                },
                {                
                type: "line",
                yAxisID: 'B',
                borderColor: "#dd8443",                
                data: dat3cum,
                fill: false,
                label: 'Pareto'              
                },
                {                
                type: "line",
                yAxisID: 'B',
                borderColor: "#92b684",                
                data: dat3p80,
                fill: false,
                label: '80%'                
                }
            ]
        };
        
        

        var ctx = document.getElementById("Figura3").getContext("2d");
        var Fig3 = new Chart(ctx, {
            animationEnabled: true,
            type: 'bar',
            data: Fig3Data,
            options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        ticks: {
                        max: perc3.sum,
                        min: 0                        
                        }
                    }, {
                        id: 'B',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                        max: 100,
                        min: 0,
                        callback: function(value, index, values) {
                            return value + ' %';
                        } 
                        }
                    }]
                },
                title: {
                    text: "Top 10 - Incidentes por servicio",
                    display: true,
                    position: 'top',
                    fontSize: 18,
                    fontColor: "#111"
                },
                labels: ['Incidentes','Pareto','80%'],
                name: ['Incidentes','Pareto','80%'],
                legend: {
                    display: true,
                    legendText : ['Incidentes','Pareto','80%']
                },
                tooltips: tooltipsSin,
                showAllTooltips: true,
                barValueSpacing: 20,
            }

        });



       //%%%%%%%%%%%%%%%% Figura 4 %%%%%%%%%%%%%%//        
         var lab4Inc=[],dat4Inc=[]
        {{#each Fig4Req}}
            lab4Inc.push('{{name}}')
            dat4Inc.push({{count}})            
        {{/each}}
        var perc4=percentage(dat4Inc)        
        dat4perc=[perc4.perc]
        dat4cum=perc4.cum
        dat4p80=perc4.p80    
        var Fig4Data = {
            labels: lab4Inc,
            datasets: [
                {
                yAxisID: 'A',
                backgroundColor: "#5a81b8",
                data: dat4Inc,
                label: 'Requerimientos'
                },
                {                
                type: "line",
                yAxisID: 'B',
                borderColor: "#dd8443",                
                data: dat4cum,
                fill: false,
                label: 'Pareto'                
                },
                {                
                type: "line",
                yAxisID: 'B',
                borderColor: "#92b684",                
                data: dat4p80,
                fill: false,
                label: '80%'                
                }
            ]
        };
        
        

        var ctx = document.getElementById("Figura4").getContext("2d");
        var Fig4 = new Chart(ctx, {
            animationEnabled: true,
            type: 'bar',
            data: Fig4Data,
            options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        ticks: {
                        max: perc4.sum,
                        min: 0,                                         
                        }
                    }, {
                        id: 'B',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                        max: 100,
                        min: 0,
                        callback: function(value, index, values) {
                            return value + ' %';
                        } 
                        }
                    }]
                },
                title: {
                    text: "Top 10 - Requerimientos por servicio",
                    display: true,
                    position: 'top',
                    fontSize: 18,
                    fontColor: "#111"
                },
                tooltips: tooltipsSin,
                showAllTooltips: true,
                barValueSpacing: 20,
            }
        });

        //%%%%%%%%%%%%%%%% Figura 5 %%%%%%%%%%%%%%//        
        var lab5Inc=[],dat5Inc=[]
        {{#each Fig5Inc}}
            lab5Inc.push('{{name}}')
            dat5Inc.push({{count}})            
        {{/each}}
        var perc5=percentage(dat5Inc)        
        dat5perc=[perc5.perc]
        dat5cum=perc5.cum
        dat5p80=perc5.p80
        var Fig5Data = {
            labels: lab5Inc,
            datasets: [
                {
                yAxisID: 'A',
                backgroundColor: "#5a81b8",
                data: dat5Inc,
                label: 'Incidentes'
                },
                {                
                type: "line",
                yAxisID: 'B',
                borderColor: "#dd8443",                
                data: dat5cum,
                fill: false,
                label: 'Pareto'              
                },
                {                
                type: "line",
                yAxisID: 'B',
                borderColor: "#92b684",                
                data: dat5p80,
                fill: false,
                label: '80%'                
                }
            ]
        };
        
        

        var ctx = document.getElementById("Figura5").getContext("2d");
        var Fig3 = new Chart(ctx, {
            animationEnabled: true,
            type: 'bar',
            data: Fig5Data,
            options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        ticks: {
                        max: perc5.sum,
                        min: 0                        
                        }
                    }, {
                        id: 'B',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                        max: 100,
                        min: 0,
                        callback: function(value, index, values) {
                            return value + ' %';
                        } 
                        }
                    }]
                },
                title: {
                    text: "Top 10 - Incidentes por servicio (Sin Conectividad WAN)",
                    display: true,
                    position: 'top',
                    fontSize: 18,
                    fontColor: "#111"
                },
                labels: ['Incidentes','Pareto','80%'],
                name: ['Incidentes','Pareto','80%'],
                legend: {
                    display: true,
                    legendText : ['Incidentes','Pareto','80%']
                },
                tooltips: tooltipsSin,
                showAllTooltips: true,
                barValueSpacing: 20,
            }

        });


//%%%%%%%%%%%%%%%% Figura 6 %%%%%%%%%%%%%%//        
        var lab6Inc=[],dat6Inc=[],lab6Req=[],dat6Req=[]
        {{#each Fig6Inc}}
            lab6Inc.push('{{name}}')
            dat6Inc.push({{count}})            
        {{/each}}
        {{#each Fig6Req}}
            lab6Req.push('{{name}}')
            dat6Req.push({{count}})            
        {{/each}}
        
        var Fig6Data = {
            labels: lab6Inc || lab6Req,
            datasets: [
                {
                yAxisID: 'A',
                backgroundColor: "#5a81b8",
                data: dat6Inc,
                label: 'Incidentes'
                },
                {                
                type: "bar",
                yAxisID: 'A',
                backgroundColor: "#dd8443",                                
                data: dat6Req,
                fill: false,
                label: 'Requerimientos'              
                }
            ]
        };
        
        

        var ctx = document.getElementById("Figura6").getContext("2d");
        var Fig6 = new Chart(ctx, {
            animationEnabled: true,
            type: 'bar',
            data: Fig6Data,
            options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        type: 'logarithmic',
                        position: 'left',
                        ticks: {
                        //max: perc6.sum,
                        //min: 0                        
                        }
                    }]
                },
                title: {
                    text: "Fuente de reporte Tickets",
                    display: true,
                    position: 'top',
                    fontSize: 18,
                    fontColor: "#111"
                },               
                tooltips: tooltipsValue,
                showAllTooltips: true,
                barValueSpacing: 20,
            }

        });


      


    </script>
    


