


<div class="container-fluid">
    <div class="row">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura1"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura2"></canvas>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura3"></canvas>
        </div>
        <div class="col col-md-6 col-lg-6 col-xl-6">
            <canvas id="Figura4"></canvas>
        </div>
    </div>

</div>

    <script>

        //%%%%%%%%%%%%%%%% Figura 1 %%%%%%%%%%%%%%//
        var data = {            
            labels: ['Total de Incidentes', 'Total de Requerimientos'],
            datasets: [
                {
                    fill: true,
                    backgroundColor: ["#3e95cd", "#8e5ea2"],
                    data: [{{Figura1}}],
                    borderColor:	['white', 'white'],
                    borderWidth: [2,2]
                }
            ]
        };        

        var ctx = document.getElementById("Figura1").getContext("2d");        
        var Fig1 = new Chart(ctx, {
        animationEnabled: true,
        type: 'pie',
        data: data,
        options: {title: {
            text: "Total de Tickets Enero",
            display: true,
            position: 'top',
            fontSize: 18,
            fontColor: "#111"         
          },
          tooltips: tooltips,
          showAllTooltips: true,
          optionsPie }       
        });

        //%%%%%%%%%%%%%%%% Figura 2 %%%%%%%%%%%%%%//
        var lab2Inc=[],dat2Inc=[],lab2Req=[],dat2Req=[]
        {{#each Fig2Inc}}
            lab2Inc.push('{{name}}')
            dat2Inc.push({{count}})
        {{/each}}        
        {{#each Fig2Req}}
            lab2Req.push('{{name}}')
            dat2Req.push({{count}})
        {{/each}} 
        
        console.log('lab2Inc: ', lab2Inc,'dat2Inc: ', dat2Inc)
        var Alto2Data = {
            label: 'Alta',
            data: [dat2Inc[0],dat2Req[0]],            
            backgroundColor: 'rgba(240, 99, 132, 0.6)',
            borderWidth: 0,            
        };
        var Medio2Data = {
            label: 'Media',
            data:  [dat2Inc[1],dat2Req[1]],
            backgroundColor: 'rgba(235, 155, 37, 0.6)',
            borderWidth: 0,            
        };
        var Bajo2Data = {
            label: 'Baja',
            data:  [dat2Inc[2],dat2Req[2]],
            backgroundColor: 'rgba(84, 130, 53, 0.6)',
            borderWidth: 0,           
        };        
        var Fig2Data = {
            labels: ['Incidentes', 'Requerimientos'],
            datasets: [Alto2Data, Medio2Data, Bajo2Data]
        };              

        var ctx = document.getElementById("Figura2").getContext("2d");        
        var Fig2 = new Chart(ctx, {
        animationEnabled: true,
        type: 'bar',
        data: Fig2Data,
        options: {
            title: {
            text: "Tickets Por Prioridad",
            display: true,
            position: 'top',
            fontSize: 18,
            fontColor: "#111"         
          },
          tooltips: tooltips,
          showAllTooltips: true,
          barValueSpacing: 20,          
          optionsBar
        }

        });

       //%%%%%%%%%%%%%%%% Figura 3 %%%%%%%%%%%%%%//        
        var lab3Inc=[],dat3Inc=[]
        {{#each Fig3Inc}}
            lab3Inc.push('{{name}}')
            dat3Inc.push({{count}})
        {{/each}}        
            
        console.log('lab3Inc: ', lab3Inc,'dat3Inc: ', dat3Inc)
        var Fig3Data = {
            labels: lab3Inc,
            datasets: [{
                backgroundColor: "rgba(240, 99, 132, 0.6)",
                data: dat3Inc}]
        };
        console.log('Fig3Data: ',Fig3Data)

        var ctx = document.getElementById("Figura3").getContext("2d");
        var Fig3 = new Chart(ctx, {
            animationEnabled: true,
            type: 'bar',
            data: Fig3Data,
            options: {
                title: {
                    text: "Tickets Por Prioridad",
                    display: true,
                    position: 'top',
                    fontSize: 18,
                    fontColor: "#111"
                },
                tooltips: tooltipsValue,
                showAllTooltips: true,
                barValueSpacing: 20,
                optionsBar
            }

        });



       //%%%%%%%%%%%%%%%% Figura 4 %%%%%%%%%%%%%%//        
        var lab4Req=[],dat4Req=[]
        {{#each Fig4Req}}
            lab4Req.push('{{name}}')
            dat4Req.push({{count}})
        {{/each}}        
            
        console.log('lab4Req: ', lab4Req,'dat4Req: ', dat4Req)
        var Fig4Data = {
            labels: lab4Req,
            datasets: [{
                backgroundColor: "rgba(240, 99, 132, 0.6)",
                data: dat4Req
                }]
        };
        console.log('Fig4Data: ',Fig4Data)

        var ctx = document.getElementById("Figura4").getContext("2d");
        var Fig4 = new Chart(ctx, {
            animationEnabled: true,
            type: 'bar',
            data: Fig4Data,
            options: {
                title: {
                    text: "Tickets Por Prioridad",
                    display: true,
                    position: 'top',
                    fontSize: 18,
                    fontColor: "#111"
                },
                tooltips: tooltipsValue,
                showAllTooltips: true,
                barValueSpacing: 20,
                optionsBar
            }

        });        


    </script>
    


