<pre>
 
</pre>


<div class="row">
  <div class="col-md-3 col-lg-3 col-xl-3">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center"><b> Carga de archivos</b></h4>
        </div>
        {{#each nameCarga}}
        <div class="card-body">
          <form
            ref="uploadForm"
            id="uploadForm{{inc @index}}"
            action="/upload"
            method="POST"
            encType="multipart/form-data"
          >
            <div class="form-group">
              <h5>Cargar archivo {{this}}</h5>
            </div>
            <input
              type="text"
              name="idCarga"
              value="{{inc @index}}"
              class="sr-only"
            />
            <div class="form-group">
              <input class="form-control" type="file" name="file" />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="fileName"
                placeholder="Digite un nombre de archivo"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control btn btn-primary"
                type="submit"
                value="Upload!"
              />
            </div>
          </form>
        </div>
        {{/each}}
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-md-8 col-lg-8 col-xl-8">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre de archivo</th>
          <th>Fecha</th>
          <th>Categoria</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        {{#each listaIM}}
        <tr>
          <td>{{inc @index}}</td>
          <td>{{nombre}}</td>
          <td>{{fecha}}</td>
          <td>{{categoria}}</td>
          <td>
            <a href="/usar/{{_id}}/{{categoria}}" class="btn {{#if status}} btn-success {{else}} btn-secondary{{/if}}">usar</a>
          </td>
          <td>
            <a href="/borrar/{{_id}}/{{categoria}}" class="btn btn-danger">eliminar</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <br />

    <table class="table table-fixed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre de archivo</th>
          <th>Fecha</th>
          <th>Categoria</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        {{#each listaIncidente}}
        <tr>
          <td>{{inc @index}}</td>
          <td>{{nombre}}</td>
          <td>{{fecha}}</td>
          <td>{{categoria}}</td>
          <td>
            <a href="/usar/{{_id}}/{{categoria}}" class="btn {{#if status}} btn-success {{else}} btn-secondary{{/if}}">usar</a>
          </td>
          <td>
            <a href="/borrar/{{_id}}/{{categoria}}"class="btn btn-danger">eliminar</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <br />

    <table class="table table-fixed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre de archivo</th>
          <th>Fecha</th>
          <th>Categoria</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        {{#each listaRequerimiento}}
        <tr>
          <td>{{inc @index}}</td>
          <td>{{nombre}}</td>
          <td>{{fecha}}</td>
          <td>{{categoria}}</td>
          <td>
            <a href="/usar/{{_id}}/{{categoria}}" class="btn {{#if status}} btn-success {{else}} btn-secondary{{/if}}">usar</a>
          </td>
          <td>
            <a href="/borrar/{{_id}}/{{categoria}}" class="btn btn-danger">eliminar</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <br>
    <br>
    <div class="container">
      <a href="/seleccionar" class="btn btn-primary">Graficar</a> 
    </div>


  </div>
</div>

